<header>
  <div class="menu">
    <div class="hamburger-menu"></div>
    <div class="hamburger-menu"></div>
    <div class="hamburger-menu"></div>
  </div>
  <div class="header-menu">
    <%- include('nav') %>
    <div class="title">
      <h1>Library</h1>
      <h2>
        <%= pageTitle %>
      </h2>
    </div>
  </div>
</header>