<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

<body>
  <%- include('partials/header', {pageTitle: 'Add A New Book!'}) %>
  <form method="POST" action="/books">
    <label for="title">Title: </label>
    <input type="text" name="title" />
    <label for="author">Author: </label>
    <input type="text" name="author" />
    <label for="image_url">Image Url: </label>
    <input type="text" name="author_url" />
    <label for="ISBN">ISBN: </label>
    <input type="text" name="ISBN" pattern="[\d]{13}" />
    <input type="submit" />
  </form>
</body>

</html>