<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header', {pageTitle: 'Add A New Book!'}) %>
  <form method="POST" action="/books">
    <input placeholder="Title" type="text" id="title" name="title" required />
    <input placeholder="Author" type="text" id="author" name="author" required />
    <input placeholder="Image URL" type="text" id="image_url" name="image_url" required />
    <input placeholder="ISBN 13 " type="text" id="ISBN" name="isbn" pattern="[\d]{13}" required />
    <textarea placeholder="Description" id="description" name="description" required></textarea>
    <input class="submit" type="submit" />
  </form>
  <script src="/scripts/app.js"></script>
</body>

</html>