h1, p{
  text-align: center;
}

ul{
  text-align: center;
  list-style-type: none;
}

span{
  display: block;
}

span.desc {
  font-family: helvetica, sans-serif;
}

li, p{
  margin-top: 40px;
}

p{
  border: 2px solid black;
  font-size: 30px;
}

.book-left {
  width: 30%;
}

.book-right {
  width: 70%;
}

img {
  width: 200px;
}